---
import BaseLayout from "../layouts/BaseLayout.astro";
import PaperCard from "../components/PaperCard.astro";
import Award from "../components/Award.astro";
import { getCollection } from 'astro:content';

const publications = await getCollection('publications');
publications.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const selectedPublications = publications.filter((p) => p.data.selected);

const awards = await getCollection('awards');
awards.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const schema = {
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {"id": "https://xiwen.me", "name": "About Me"}
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {"id": "https://xiwen.me/publications", "name": "Publications"}
      }
    ]
  },
  "name": "Xiwen Teoh - Personal Website",
  "url": "https://xiwen.me",
  "mainEntity": {
    "@type": "Person",
    "name": "Xiwen Teoh",
    "url": "https://xiwen.me",
    "image": "https://xiwen.me/profile.jpg",
    "jobTitle": "PhD Student",
    "affiliation": {
      "@type": "Organization",
      "name": "National University of Singapore",
      "url": "https://www.nus.edu.sg"
    },
    "sameAs": [
      "https://www.linkedin.com/in/xiwenteoh/",
      "https://github.com/gyataro"
    ],
    "email": "xiwen.teoh@nus.edu.sg",
    "knowsAbout": [
      "GUI Testing",
      "Web Security",
      "AI Agents"
    ] 
  }
}
---

<BaseLayout schema={schema}>
  <h2 class="mb-1">About me</h2>
  <p>
    Hello, I'm Xiwen, a PhD student in Computer Science. 
  </p>
  <p>
    I am jointly advised by
    <a href="https://www.comp.nus.edu.sg/~dongjs/" target="_blank">Prof. Jin Song Dong</a> at the Programming Languages and Software Engineering (PLSE) Lab 
    under National University of Singapore (NUS),
    and by <a href="http://linyun.info/" target="_blank">Prof. Yun Lin</a> at the CoPhi Research Group
    under Shanghai Jiao Tong University (SJTU). 
  </p>

  <p>
    My research is about AI agents that see and understand the world as symbols to solve problems.
    I use this approach for <b>web security</b>, by manipulating these symbols to check, secure, or break systems, 
    and for <b>testing graphical user interfaces (GUI)</b>, by verifying that the symbols conform to expectations. 
    Lately, I work with multimodal language model (MLLM) agents.
  </p>

  <h2 class="mb-1">Publications</h2>
  <p>This is a selected list of recent publications central to my research. You can <a href="/publications">check the full list here</a>.</p>
  <p>(*): Co-first author</p>
  <div class="not-prose flex flex-col gap-3">
    {selectedPublications.map(({ data }) => (
      <PaperCard
        title={data.title}
        venue={data.venue}
        year={data.year}
        authors={data.authors}
        me={data.me}
        cofirst={data.cofirst}
        corresponding={data.corresponding}
        links={data.links}
      />
    ))}
  </div>

  <h2 class="mb-1">Awards</h2>
  <div class="not-prose flex flex-col gap-3">
    {awards.map(({ data }) => (
      <Award title={data.title} date={data.date} />
    ))}
  </div>
</BaseLayout>
